@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html{
	display: block;
	font-family: 'Raleway', sans-serif, Georgia;
	margin: 0;
	border: 0;
	font-size: 1.125em;/*18/16 =1.125 */
	font: inherit;
	vertical-align:baseline;
	text-align: center;
	background-color: #7e7a7a;
}
h1, p, label{
	font-family:  'Roboto',sans-serif, Georgia;
	padding-top:0.8333333333em; /* 15/18= 0.8333333333*/

}
#age{
	padding-left: 0em;
	padding-bottom: 0.5555555556em; /* 10/18=0.55555555556*/
}
ol, #input-age-verification, #input-email{
	padding-top: 1.1111111111em;/* 20/18= 1.1111111111*/
	text-align: center;
}
#input-submit{
	display: block;
	padding-top:1.1111111111em; /*20/18= 1.1111111111*/
	padding-bottom: 1.1111111111em;
	text-align: center;
	color: #dbd9d9;
}
form{
	display: block;
	background-color: #c1b9b9;
}
main{
	padding-top: 0;
	padding-left: 2.7777777778em;/*50/18 = 2.7777777778*/
	padding-right: 2.7777777778em;
	padding-bottom: 1.6666666667em;/*30/18 = 1.6666666667*/
}
@media screen and (min-width: 16.6666666667em) { /* 300/ 18 = 16.6666666667*/
	html{
	text-align: left;
}
#input-age-verification, #input-email{
	padding-top: 1.111111111em;/*20/18= */
	text-align: left;
}
#input-submit{
	display: block;
	padding-top:1.1111111111em;
	padding-bottom: 1.1111111111em;
	text-align: left;
	color: #dbd9d9;
}
}
@media screen and (min-width: 27.7777777778em) { /* 500/ 18 = 27.7777777778 */
  html {
    text-align: center;
  }
	#input-age-verification, #input-email{
		padding-top: 1.1111111111em;
		text-align: center;
	}
	#input-submit{
		display: block;
		padding-top:1.1111111111em;
		padding-bottom: 1.1111111111em;
		text-align: center;
		color: #dbd9d9;
	}
}
