@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align:baseline;
	text-align: center;
}
h1, p, label{
	font-family: sans-serif;
	padding-top:15px; /* 20/16= */

}
#age{
	padding-left: 0px;
	padding-bottom: 10px
}
#input-age-verification, #input-email{
	padding-top: 20px;
	text-align: left;
}
#input-submit{
	padding-top:20px;
	padding-bottom: 20px;
	text-align: center;
	color: #dbd9d9;
}
form{
	background-color: #c1b9b9;
}
main{
	padding-top: 0;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;
}
